body {
	font-family: "Karla";
}

.header-case {
	background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
	height: 60px;
	width: 550px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 3px 3px 0 0;
}

.title-case {
	display: flex;
	color: white;
}

.header-case h5 {
	margin-right: 15px;
	color: white;
}

.spoderman-img {
	width: 50px;
	margin-right: 15px;
	margin-left: 15px;
}

.generator {
	width: 550px;
	height: 900px;
}

.generator-input-case input {
	height: 25px;

}

.generator-input-case {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	margin-bottom: 10px;
}

.submit-button-case {
	display: flex;
	justify-content: center;
}

.generator-submit-button {
	width: 458px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	color: white;
	font-family: Karla;
	background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
	margin-bottom: 20px;
}

.generator-img {
	max-width: 550px;
	max-height: 550px;
}

.memeImg-case {
	width: 550px;
	height: 550px;
	display: flex;
	justify-content: center;
}


























